body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
}
.wista-navbar {
    font-size: 20px;
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    overflow: hidden;
}
.wista-nav-item {
    display: inline-block;
    color: white;
}
.wista-nav-item.start {
    background-color: #30425e;
    padding: 10px;
    float: left;
}

.wista-nav-item.right {
    float: right;
}

.wista-nav-item.logout {
    background-color: #c13c3cc0;
    padding: 10px;
}

.wista-nav-item.logout:hover {
    background-color: #c13c3c80;
}

.wista-nav-item.combined {
    background-color: #bcbcbd4d;
    display: flex;
}

.wista-nav-item.combined:hover {
    background-color: #bcbcbd4d;
}

.wista-nav-item.combined .material-icons {
    background-color: grey;
    padding: 10px;
}

.wista-nav-item.combined .text {
    position: relative;
    top: 3px;
    padding: 10px 15px 10px 20px;
    font-size: .7rem;
}

.wista-nav-item.special {
    background-color: #3983b5c2;
    padding: 10px;
    cursor: pointer;
}

.wista-nav-item.default {
    float: left;
    padding: 12px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, .1);
}

.wista-nav-item.leave {
    float: right;
    padding: 12px;
    font-size: 12px;
    background-color: #ff7e00;
    color: white;
}
.wista-nav-item.save {
    float: right;
    padding: 12px;
    font-size: 12px;
    background-color: #3b743b;
    color: white;
}
.wista-nav-item.locked {
    background-color: rgb(153, 58, 54);
    padding: 10px;

}

.wista-nav-item.default:hover {
    background-color: rgba(255, 255, 255, .2);
}

.wista-nav-item.disabled {
    color: rgba(255, 255, 255, .2);
}
.wista-nav-item .icon {
    font-size: 20px;
}
.wista-nav-item.text {
    font-size: 14px;
    padding: 9px 20px 11px 20px;
    
}
#content {
    overflow: auto;
}
#details {
    width: 0%;
    height: 100%;
}
.content-area {
    flex-basis: 0;
    flex-grow: 1;
}
.morph-box {
    min-width: 100%;
    width: fit-content;
    height: calc(100% - 20px);
}
.morph-box .headline {
    background-color: #8c9ba5;
    color: white;
    font-size: 1.2rem;
}
.morph-box .body {
    font-size: .8rem;
}
.morph-box .body .row:nth-child(even){
    background-color: #39619917;
}
.morph-box .body .row:nth-child(odd){
    background-color: white;
}
.morph-box .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 0.1px solid grey;
}
.morph-box .cell {
    padding: 0.5rem;
    min-width: 100px;
}
.morph-box .cell.desc-available {
    cursor: pointer;
}
.morph-box .cell.placeholder {
    background-color: #ff950030;
}
.morph-box .dimension {
    width: 100px;
    text-align: center;
    background-color: rgba(0,0,0, 0.05);
}
.morph-box .value {
    flex: flex-grow;
    flex-basis: 0;
    flex-grow: 1;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: calc(100% - 10px);
    height: 60px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
    padding: 5px;
}
.footer .footer-item {
    color: grey;
    width: 200px;
    height: 55px;
    background-color: white;
    display: inline-block;
    white-space: nowrap;
}
.btn {
    display: block;
    margin-left: 20px;
    margin: 3px 0px 5px 20px;
    cursor: pointer;
    background-color: #5f77a8;
    border: none;
    color: white;
    padding: 5px 10px;
}
.footer .footer-item.flex-width {
    width: auto;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}
.footer .footer-item .text {
    font-size: 38px;
    color: #30425e;
}
.footer .footer-item .text.small {
    font-size: 1rem;
    color: lightgrey;
    margin-right: 5px;
}
.footer .footer-item.approaches, .footer-item.current-approach {
    border-bottom: 5px solid orange;
}
.footer .footer-item.dimensions {
    border-bottom: 5px solid rgb(68, 150, 68);
}
.footer .footer-item.properties {
    border-bottom: 5px solid #3c6cbd;
}
.details-view {
    padding: 0px 10px;
    height: 100%;
    overflow-y: auto;
}
.closer {
    font-size: 3rem;
    position: absolute;
    right: 10px;
    top: 0px;
    color: #aa4545;
    cursor: pointer;
}
.details-view .headline {
    text-transform: uppercase;
    font-size: 2rem;
    text-decoration: underline #183f65;
}
.details-view .approach-suggestion {
    padding-left: 2rem;
    cursor: pointer;
    display: block;
}
.details-view .desc {
    display: block;
    color: rgba(0,0,0,.8);
}
.details-view .subtitle {
    margin-left: 10px;
    font-size: .8rem;
    color: rgba(0,0,0,.8);
}
.details-view .source, .details-view .approaches {
    display: block;
    font-size: .8rem;
}
.details-view .source .icon, .details-view .approaches .icon {
    margin-right: 10px;
    position: relative;
    top: 6px;
    color: #183f65;
}
.tag {
    padding: 2px 5px;
    margin: 5px 2px 2px 0px;
    font-size: .5rem;
    display: inline-block;
}
.tag-dimension {
    background-color: rgb(68, 150, 68);
    color: white;
}
.tag-attribute {
    background-color: #3c6cbd;
    color: white;
}
.tag-approach {
    background-color: orange;
    color: white;
}
.step-row {
    display: table-row;
}
.step-row .number {
    width: 20px;
    padding: 5px;
    text-align: center;
}
.step-row .cell {
    display: table-cell;
}
.step-row .head {
    padding: 0px 10px;
    background-color: #ffff0073;
}
.step-row .desc {
    display: block;
    font-size: .7rem;
    color: rgba(0,0,0,.7);
}
.approach-chart {
    width: 100%;
    margin-top: 20px;
}
.footer-chart {
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}
.footer-chart .icon {
    font-size: 46px;
    padding: 5px;
    color: #30425e;
    border: 2px solid #30425e;
    user-select: none;
    background-color: white;
    vertical-align: middle;
}
.footer-chart .nick {
    border: 2px solid #30425e;
    padding: 15.5px;
    vertical-align: middle;
    background-color: white;
    color: #2e2e2e;
}
.footer-chart > *:hover {
    background-color: rgba(143, 143, 143, 0.7);
}
#chart-cp-container, #nick-container, #nick-detail-container {
    display: none;
    position: absolute;
    right: 0px;
    bottom: 70px;
    width: calc(100% - 100px);
    height: calc(100% - 160px);
    background-color: white;
    padding: 25px 50px;
}
#chart-cp-container-content {
    overflow: hidden;
    overflow-x: auto;
    max-height: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, .02);
    border: 2px solid lightgray;
    display: flex;
}
#nick-container-content, #nick-detail-container-content {
    overflow: hidden;
    overflow-x: auto;
    max-height: 100%;
    height: 100%;
    position: relative;
    display: flex;
}
.iteration-step-preview {
    flex-grow: 1;
    flex: 1;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    position: relative;
    min-width: 400px;
    padding: 20px;
}
.iteration-step-preview .number {
    margin-right: 10px;
}
.iteration-step-preview .headline {
    font-size: 20px;
    color: #30425e;
    height: 60px;
    padding: 0px 10px;
}
.iteration-step-preview .option-content {
    overflow-y: auto;
    height: calc(100% - 140px);
}
.iteration-step-preview .subtitle {
    font-size: .6rem;
    font-style: italic;
    height: 20px;
}
.iteration-step-preview .option {
    font-size: .8rem;
    padding: 5px;
}
.iteration-step-preview .option:nth-child(even) {
    background-color: rgb(240, 245, 255);
}
.iteration-step-preview .next-arrow {
    top: 10px;
    position: absolute;
    right: -40px;
    position: absolute;
    font-size: 60px;
    color: grey;
    z-index: 10;
    background-color: white;
    border-radius: 100px;
    border: 2px solid;
}
.iteration-step-preview .desc {
    font-size: .7rem;
    padding: 10px;
    height: 150px;
    overflow: auto;
    display: none;
}
.iteration-step-preview.click-event-added {
    cursor: pointer;
}
.iteration-step-preview.click-event-added:hover {
    background-color: rgb(228, 248, 255);
}
#chart-cp-container-content canvas {
    max-height: 100% !important;
    width: auto !important;
    margin: 0px 80px;
    padding-right: 100px;
}
.cond-head {
    text-align: left;
    font-size: 1.2rem;
}
.cond-head.overwritten .title {
    text-decoration: line-through red;
}
.cond-head .material-icons {
    vertical-align: middle;
    color: grey;
}
.cond-table {
    width: calc(100% - 40px);
    font-size: .8rem;
    table-layout: fixed;
    text-align: center;
    margin-left: 20px;
}
.cond-table tr td:nth-child(1) {
    text-align: left;
}
.overwritten-ext {
    font-size: .5rem;
    margin-left: 10px;
}